.post-body pre,.post-body code,figure.highlight pre{
  tab-size: 4;
  -moz-tab-size: 4;
}
.copy-btn {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.4;
  min-width: auto;
  min-height: auto;
}
.code-lang {
  font-size: 16px !important;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}
.links-of-author .icon-luogu {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  vertical-align: -0.125em;
  background-color: currentColor;
  -webkit-mask-image: url("https://fecdn.luogu.com.cn/columba/static.325908fec383795b.logo-single-color.svg");
  mask-image: url("https://fecdn.luogu.com.cn/columba/static.325908fec383795b.logo-single-color.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
details{
	border-top: none !important;
	border-bottom: none !important;
	border-radius: 0px !important;
	padding: .2em 0 .5em 1em !important;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  content: "";
}
details > summary {
  position: relative;
  display: flex;
  font-weight: 700;
}
details > summary::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 26px;
  width: 9px;
  height: 9px;

  border-radius: 1px;
  transform: translateY(-65%) rotate(-45deg);
  transition: transform 0.2s ease;
}
details[open] > summary::after{
  transform: translateY(-70%) rotate(45deg);
}
details.info > summary::after {border-right: 4px solid #428bca;border-bottom: 4px solid #428bca;}
details.info > summary {color: #428bca;}
details.success > summary::after {border-right: 4px solid #5cb85c;border-bottom: 4px solid #5cb85c;}
details.success > summary {color: #5cb85c;}